
@{
    Layout = null;
}
@model List<LWT.Model.Goods>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>*@
</head>
<body>
    <div id="app">
        <table>
            <tr>
                <td> 编号 </td>
                <td> 商品名称 </td>
                <td> 商品图片 </td>
                <td> 类目 </td>
                <td> 品牌 </td>
                <td> 颜色 </td>
                <td> 规格属性 </td>
                <td> 价格 </td>
                <td> 库存量 </td>
                <td> 状态 </td>
                <td> 是否启用 </td>
                <td> 操作 </td>
            </tr>

            @foreach (var item in Model)
            {
                @if (item.State == 0)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Img</td>
                        <td>@item.Category</td>
                        <td>@item.Band</td>
                        <td>@item.Color</td>
                        <td>@item.Attribute</td>
                        <td>@item.Price</td>
                        <td>@item.Inventory</td>
                        <td>@item.State</td>
                        <td>@item.Isable</td>
                        <td><a href="#">操作</a></td>
                    </tr>
                }

            }

        </table>
    </div>
</body>
</html>
<script>
            var app = new Vue({
                el: '#app',
                data: {
                    info: null,
                },
                mounted: function () {
                    axios.get('/Supplier/GetGoods')
                        .then(response => (this.info = response.data));
                }
            })
</script>