
@{
    Layout = null;
}
@model List<LWT.Model.Power>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddRole</title>
    <script src="~/js/jquery-1.10.2.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/js/vue.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script>
        $(function () {
            $("[name=ck_father]").click(function () {
                if ($(this).prop("checked")) {
                    $("[name='ck_Child_" + $(this).val() + "']").prop("hidden", "")
                    $("[name='ck_Child_" + $(this).val() + "']").next().prop("hidden", "")

                }
                else {
                    $("[name='ck_Child_" + $(this).val() + "']").prop("hidden", "hidden")
                    $("[name='ck_Child_" + $(this).val() + "']").next().prop("hidden", "hidden")
                }
                $("[name='ck_Child_" + $(this).val() + "']").prop("checked", $(this).prop("checked"))
            })
        })
    </script>
</head>
<body>
    <table class="table table-border" id="app">
        <tr>
            <td align="right">角色名称：</td>
            <td>
                <select id="Select1">
                    <option v-for="item in select" :value="item.roleId">{{item.roleName}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="right">分配权限：</td>
            <td>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <table>
                        <tr><td>全部权限信息</td></tr>
                        <tr>
                            <td>
                                <table class="table table-border">
                                    @foreach (var item in Model)
                                    {
                                        if (item.Pid == 0)
                                        {
                                            <tr>
                                                <td>
                                                    <input id="Checkbox1" name="ck_father" type="checkbox" data-name="ck_father_@item.Id" value="@item.Id" />
                                                    <span>@item.PowerName</span>
                                                </td>
                                                <td>
                                                    @foreach (var item1 in Model)
                                                    {
                                                        if (item1.Pid == item.Id)
                                                        {
                                                            <input id="Checkbox1" hidden="hidden" name="ck_Child_@item.Id" type="checkbox" data-father="@item1.Pid" data-name="ck_child" value="@item1.Id" />
                                                            <span hidden="hidden">@item1.PowerName</span>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr><td><input id="Button1" class="btn btn-primary" type="button" value="保存" v-on:click="AddBtn" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="Button1" class="btn btn-primary" type="button" onclick="Back('/index/AddUsersRole',800,400)" value="返回" /></td></tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <script>
        function Back(title, url, w, h) {
            layer_close(title, url, w, h);
        }
        var app = new Vue({
            el: '#app',
            data: {
                UserName: "",
                UserPwd: "",
                RoleId: 0,
                select: null
            },
            mounted: function () {
                var that = this;
                axios.get('/Index/GetRoles')
                    .then(response => (that.select = response.data))

            },
            methods: {
                AddBtn: function () {
                    var list = [];
                    $("[type=checkbox]:checked").each(function () {
                        list.push($(this).val())
                    })
                    var that = this;
                    var params = new URLSearchParams();
                    params.append('Id', $("#Select1").val());
                    params.append('RoleId', list.toString());
                    axios({
                        method: 'post',
                        url: '/index/addrole',
                        data: params
                    }).then(function (res) {
                        if (res > 0) {
                            alert("对不起，添加失败!");
                        }
                        else {
                            alert("添加成功哦！");
                        }  
                        });
                }

            }
        });
    </script>
</body>
</html>
